body {
    font-family: "Mukta", sans-serif;
    /* Reseteamos algunos valores que pueda haber por defecto */
    font-size: 16px;
    letter-spacing: 0.5px;
    margin: 0;
    padding: 0;
}

/* Cabecera (Hero section) */
.hero {
    background-color: #863ae8;
    color: white;
    height: 100vh; /* Unidad que toma un 100% de la vista vertical */
    margin-top: 0;
    text-align: center;
    /* flexbox: avance de próxima lección*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero h1,
.hero p {
    max-width: 900px;
    margin: 16px 0;
    width: 75%;
}

.hero hr {
    width: 50%;
    margin: 32px 0;
}

/* Contenido principal */
main {
    margin: 0 auto;
    max-width: 900px;
    padding: 32px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Bitter", serif;
    font-weight: 500;
}

h1 {
    font-size: 80px;
    font-weight: 400px;
    letter-spacing: -1.5px;
    margin: 0;
}

h2 {
    font-size: 50px;
    letter-spacing: -0.5px;
}

h3 {
    font-size: 38px;
    letter-spacing: 0px;
}

h4 {
    font-size: 30px;
    letter-spacing: 0.25px;
}

h5 {
    font-size: 24px;
    letter-spacing: 0.25px;
}

h6 {
    font-size: 20px;
    letter-spacing: 0.25px;
}

main h3 {
    text-transform: capitalize;
}

.date-info {
    font-family: "Bitter", serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-align: center;
    text-transform: uppercase;
}

.date-info span {
    color: #e95400;
}

.headline {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0px;
    margin: 40px 0;
    text-transform: uppercase;
}

.quote {
    border-left: 2px solid #e95400;
    font-size: 14px;
    font-style: italic;
    margin: 32px 0 32px 32px;
    padding-left: 16px;
}

.quote cite {
    display: block;
    font-weight: 700;
    margin-left: 20px;
}

code {
    color: #e95400;
    font-weight: 700;
}
/* Pie de página */
footer {
    background-color: #863ae8;
}

footer ul {
    list-style-type: none;
    margin: 0 auto;
    max-width: 900px;
    padding: 28px 0;
    text-align: center;
    width: 100%;
}

footer ul li {
    display: inline;
}

footer ul li a {
    color: white;
    padding: 0 16px;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}
